body{
     
}
p{
    background: url(fond.png) no-repeat;
    background-origin: border-box;
    border: 1px solid;
    width: 75%;
    left: 150px;
    top: 50px;
    position: absolute;
    padding: 25px 50px;
  
}
.c1{
    background: url(fond.png) no-repeat ;
    background-origin: content-box;
    width: 50%;
    left: 300px;
    position: absolute;
    top: 300px;
    margin: 2px 5px;
    padding: 20px 20px;
}